         {% load static %}
         <footer class="first-footer">
             <div class="top-footer">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-3 col-md-6">
                             <div class="netabout">
                                 <a href="index.html" class="logo">
                                     <img src="{% static 'images/EM.png' %}" alt="netcom" />
                                 </a>
                                 <p>Explore le maroc et des places incontournable</p>
                             </div>
                             <div class="contactus">
                                 <ul>
                                     <li>
                                         <div class="info">
                                             <i class="fa fa-map-marker" aria-hidden="true"></i>
                                             <p class="in-p">Rabat - maroc</p>
                                         </div>
                                     </li>
                                     <li>
                                         <div class="info">
                                             <i class="fa fa-phone" aria-hidden="true"></i>
                                             <p class="in-p">+212 577778770</p>
                                         </div>
                                     </li>
                                     <li>
                                         <div class="info">
                                             <i class="fa fa-envelope" aria-hidden="true"></i>
                                             <p class="in-p ti">explore.lemaroc@gmail.com </p>
                                         </div>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-3 col-md-6">
                             <div class="widget quick-link clearfix">
                                 <h3 class="widget-title">Quick Links </h3>
                                 <div class="quick-links">
                                     <ul class="one-half mr-5">
                                         <li><a href="{% url 'visites_par_jours' %}">Destination </a>
                                            </li>
                                            <li><a href="{% url 'webpage2' %}">Chemin Optimal </a>
                                            </li>
                                            <li><a href="{% url 'palce_proche' %}">Trouver </a>
                                            </li>
                                            <li><a href="{% url 'contact_us' %}">Contact </a>
                                            </li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-3 col-md-6">
                             <div class="widget">
                                 <h3>Instagram </h3>
                                 <ul class="photo" >
                                     <li class="hover-effect">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-1.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-2.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-3.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-4.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-5.jpg" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-6.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect mb-0">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-7.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect mb-0">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-8.jpg" alt="" /></a>
                                         </figure>
                                     </li>
                                     <li class="hover-effect mb-0">
                                         <figure>
                                             <a href="#"><img src="{% static 'images/instagram/insta-9.jpeg' %}" alt="" /></a>
                                         </figure>
                                     </li>
                                 </ul>
                             </div>
                         </div>
            
                     </div>
                 </div>
             </div>
             <div class="second-footer">
                 <div class="container">
                     <p>Maroc. ©2020 explore morocco  </p>
                     <ul class="netsocials">
                         <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                         <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                         <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                     </ul>
                 </div>
             </div>
         </footer>

         <a data-scroll="" href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>